{erl_opts, [debug_info]}.

{deps, [
  {braidnode,
    {git, "https://github.com/stritzinger/braidnode.git", {branch, "main"}}
  }
]}.

{plugins, [
  {rebar3_docker,
    {git, "https://github.com/stritzinger/rebar3_docker.git", {branch, "main"}}
  }
]}.

{relx, [
  {release, {{{name}}, "0.1.0"}, [sasl, {{name}}]},
  {sys_config, "config/sys.config"},
  {include_src, false},
  {include_erts, true},
  {overlay, [
    {copy, "./config/ssl_dist_opts.rel", "config/ssl_dist_opts.rel"}
  ]}
]}.

{docker, [
  {builder_image, "ziopio/hacked_ssl_erlang"},
  {tag, "local/{{name}}"},
  {build_packages, [make, gcc, "libc-dev", "libbsd-dev", "g++"]},
  {git_url_rewrites, [{"https://github.com/", "git@github.com:"}]}
]}.
