[
    {braidnode,[
        {braidnet_domain, "localhost"},
        {braidnet_port, 8080}
    ]},
    {kernel, [
        {connect_all, false},
        {logger_level, debug},
        {logger, [
          {handler, default, logger_std_h, #{
            formatter => {logger_formatter, #{
              template => [time, " ", "[", level, "] ", msg, "\n" ],
              chars_limit => 3_000
            }}
          }}
        ]}
    ]}
].
