#{
    '5683d90eb10398' =>
        #{
            alice => #{
                image => <<"ziopio/braidnode">>,
                epmd_port => <<"43591">>,
                connections => ['bob@5683d921f65508']
            }
        },
    '5683d921f65508' =>
        #{
            bob => #{
                image => <<"ziopio/braidnode">>,
                epmd_port => <<"43591">>,
                connections => ['alice@5683d90eb10398']
            }
        }
}.
