#{
    'braidnet-eu@braidnet-eu.fly.dev' =>
        #{
            alice => #{
                image => <<"stritziger/braidnode">>,
                connections => [bob]
            }
        },
    'braidnet-us@braidnet-us.fly.dev' =>
        #{
            bob => #{
                image => <<"stritziger/braidnode">>,
               connections => [alice]
        }
    }
}.
