#{
    'e28650eeb01e68' =>
        #{
            alice => #{
                image => <<"ziopio/braidnode">>,
                epmd_port => <<"43591">>,
                connections => [bob]
            }
        },
    '5683929b651208' =>
        #{
            bob => #{
                image => <<"ziopio/braidnode">>,
                epmd_port => <<"43591">>,
                connections => [alice]
            }
        }
}.
