#{
    'braid-local' =>
        #{
            bob => #{
                image => <<"local/braidnode">>,
                connections => ['alice@braid-local']
            },
            alice => #{
                image => <<"local/braidnode">>,
                connections => ['bob@braid-local']
            }
        }
}.
