#{
    'localhost' => % change with proper hostname
        #{
            bob => #{
                image => <<"local/braidnode">>,
                epmd_port => <<"43591">>,
                connections => [alice]
            },
            alice => #{
                image => <<"local/braidnode">>,
                epmd_port => <<"43592">>,
                connections => [bob]
            }
        }
}.
